<!DOCTYPE html>
<html lang="EN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arcade Games</title>
    <link rel="stylesheet" th:href="@{/css/start-page.css}"/>
</head>

<body>
<div id="app">
    <div class="container">
        <h1 id="header">Arcade Games</h1>
        <div class="content-wrapper">
            <div @click="returnToGames" class="return-button" v-if="pagePhase !== 1">⬅</div>
            <transition mode="out-in" name="fade">
                <div class="game-selection" key="games" v-if="pagePhase === 1">
                    <div @click="selectGame(game.gameId)"
                         class="button"
                         v-for="game in games">
                        {{ game.name }}
                    </div>
                </div>

                <div class="ui-selection" key="ui" v-else>
                    <div @click="startGame(ui.uiId)"
                         class="button"
                         v-for="ui in gamesUi">
                        {{ ui.name }}
                    </div>
                </div>
            </transition>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script th:inline="javascript" th:src="@{/js/gameLauncher.js}"></script>
</body>
</html>